<div class=col-md-12>
    <h2 class=centered>UTS</h2>
    <div style="width:100%;float:right;">
        <p>Welcome... {{currentUser.name}}</p>
    </div>
    <div class=col-lg-4>
        <button type=button class=leftnvbtn ngClick="walletBal()">Wallet Balance</button>
        <button type=button class=leftnvbtn ngClick="walletRec()">Wallet Recharge</button>
        <button type=button class=leftnvbtn ngClick="TicketBook()">Ticket Book History</button>
        <button type=button class=leftnvbtn ngClick="TicketCancel()">Ticket Cancel History</button>
        <button type=button class=leftnvbtn ngClick="walletTopup()">Wallet Top-Up History</button>
        <button type=button class=leftnvbtn ngClick="EditProf()">Edit Profile</button>
        <button type=button class=leftnvbtn ngClick="chgPwd()">Change Password</button>
        <button type=button class=leftnvbtn ngClick="HandsetChg()">Handset Change Request</button>
    </div>
</div>>